// 背景颜色 - 页面
@bgColorPage: #f8f8f8;
// 背景颜色 - 标准
@bgColorNormal: #ffffff;
// 背景颜色 - 透明
@bgColorTransparent: rgba(0, 0, 0, 0.5);

// 字体颜色 - 反色
@fontColorInvert: #ffffff;
// 字体颜色 - 加重
@fontColorWeight: #333333;
// 字体颜色 - 标准
@fontColorNormal: #666666;
// 字体颜色 - 减轻
@fontColorLight: #999999;

// 行高 - 标准
@lineHeightNormal: 1;

// 基准 z-index
@zIndexBase: 1;

// 状态 - 信息
@stateInfo: #10AEFF;
// 状态 - 成功
@stateSuccess: #09BB07;
// 状态 - 警告
@stateWarn: #FFBE00;
// 状态 - 错误
@stateError: #F43530;

// 清除浮动
.clear() {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 单行超出截断
.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行超出截断
.ellipsis(@line) when (isnumber(@line)) and (@line > 1) {
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @line;
}

// 图标
.icon(@w, @h, @image) {
  display: inline-block;
  width: unit(@w, px);
  height: unit(@h, px);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(@image);
}

// 背景图
.bgImage(@image, @bgColor: transparent) {
  background-repeat: no-repeat;
  background-color: @bgColor;
  background-image: url(@image);
}

// 空单元格斜线
.emptyCell(@angle: 0) {
  position: relative;
  &:after {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    font-size: 0;
    content: " ";
    border-top: 1px solid @fontColorLight;
    transform-origin: 0 0 0;
    transform: skewY(unit(@angle, deg));
  }
}